<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.FirebaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Skillboost"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkillBoost"
        tools:targetApi="31">
        <activity
            android:name=".view.CourseContentActivity"
            android:exported="true" />
        <activity
            android:name=".view.ModuleBaseActivity"
            android:exported="false" />
        <activity
            android:name=".view.CourseDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".view.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".view.BadgesActivity"
            android:exported="false" />
        <activity
            android:name=".view.CoursesActivity"
            android:exported="true" />
        <activity
            android:name=".view.BaseActivity"
            android:exported="true" />
        <activity
            android:name=".view.HomepageActivity"
            android:exported="true" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".view.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".view.PreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>